body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  min-height: 95vh;
  flex-direction: column;
  justify-content: space-between;
}

header {
  text-align: center;
  padding: 1rem;
}

h1 {
  font-size: 2.5em;
  width: 70%;
  transform: none;
}

.description {
  text-align: center;
  padding: 2rem 0;
}

nav.nav-button {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-button svg {
  width: 30px;
  height: 30px;
}

.button-help {
  position: absolute;

  right: 0;

  transform: translateX(-100px);

  font-size: 1.5em;

  white-space: nowrap;
}

.button-help {
  position: absolute;
  transform: translateX(calc(-100% - 15px));

  font-size: 1.5em;

  white-space: nowrap;
}

.image-slider {
  height: 480px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.image-container {
  width: 100%;
  margin-inline: auto;
  position: relative;
  height: 100%;
  padding: 20px 0;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 1) 95%,
    rgba(0, 0, 0, 0.3)
  );
}

@keyframes scrollLeft {
  to {
    left: -800px; /*have to match !!*/
  }
}

@keyframes scrollRight {
  from {
    left: -800px;
  }
  to {
    left: max(
      calc(800px * 18),
      100%
    ); /* 18 have to match with the number of wallpaper*/
  }
}

.image-container img {
  width: 800px;
  object-fit: cover;
  position: absolute;
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: width 1s ease-in-out, transform 0.5s ease-in-out;
}

.image-container:has(img:hover) img {
  animation-play-state: paused;
}

.image-container:hover img:hover {
  z-index: 100;
  transform: scale(1.05);

  transition: width 1s ease-in-out, transform 3s ease-in-out;
}

.image-container:hover:has(img:hover) img:not(:hover) {
  transform: scale(0.98);
}

@media screen and (min-width: 450px) {
  h1 {
    width: auto;
    transform: translateX(-10%);
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4em;
  }
}
