#section-myself {
  display: flex;
  flex-direction: column;
}

#hero {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero-centered {
  width: 85%;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#presentation-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#prenom-barre {
  height: 3px;
}

#profil-picture {
  width: 150px;
  border-radius: 50%;
  margin: 10% 0 20% 0;
}

.download-cv {
  display: none;
}

#prenom {
  font-size: 3em;
  text-wrap: nowrap;
}

#social-media {
  align-self: center;
  width: 70%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.media {
  width: 30px;
  padding: 10px;
}

.scroll-down {
  position: absolute;
  rotate: 90deg;
  bottom: 50px;

}

.scroll-down .chevron {
  width: 15px;
}

.scroll-down-left {
  left: 5%;
}

.scroll-down-right {
  right: 5%;
}

@media screen and (min-width: 768px) {
  #hero-centered {
    width: 75%;
    gap: 100px;
  }

  #profil-picture {
    width: 200px;
    position: relative;
    z-index: 2;
  }

  #prenom {
    font-size: 4em;
  }
  #desc {
    font-size: 1.2em;
  }

  #social-media {
    width: 50%;
  }

  .media {
    width: 35px;
  }

  .download-cv {
    font-size: 1.3em;
    text-align: center;

    position: relative;
    z-index: 1;
    
    padding: 5px;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    

    transform: translateY(-200px);
    opacity: 0;
    
    transition: transform 0.4s ease-in-out, opacity 0.7s ease-in-out;
  }
  
  .profil-picture-outer:hover .download-cv {
    transform: translateY(0);
    opacity: 100%;
  }

  #download-cv-button img {
    width: 30px;
    height: 30px;
    padding: 10px;
  }

  .scroll-down .chevron {
    width: 30px;
  }

  .scroll-down-left {
    left: 20%;
  }
  
  .scroll-down-right {
    right: 20%;
  }
}

@media screen and (min-width: 1024px) {
  #hero-centered {
    width: 70%;
  }

  #presentation {
    flex-direction: row;
    justify-content: space-between;
  }

  #presentation-text {
    width: 50%;
  }

  #profil-picture {
    width: 250px;
    margin: 10% 0;
  }

  #prenom {
    font-size: 5em;
  }

  #desc {
    font-size: 1.5em;
  }

  #social-media {
    width: 50%;
  }

  .media {
    width: 40px;
  }
}

@media screen and (min-width: 1500px) {
  #prenom {
    font-size: 6em;
  }
}
