
#sky-0 {
  /* background-image: url(../public/Minimaliste/LowSize_Layer/0_Sky.png); */
  background-color: #a2fff4;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#clouds-1 {
  background-image: url(../public/Minimaliste/LowSize_Layer/1_Clouds.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#mountains-2 {
  background-image: url(../public/Minimaliste/LowSize_Layer/2_Mountains.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#mountains-3 {
  background-image: url(../public/Minimaliste/LowSize_Layer/3_Mountains.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#mountains-4 {
  background-image: url(../public/Minimaliste/LowSize_Layer/4_Mountains.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#birds-5 {
  background-image: url(../public/Minimaliste/LowSize_Layer/5_Birds.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#birds-6 {
  background-image: url(../public/Minimaliste/LowSize_Layer/6_Birds.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#bridge-7 {
  background-image: url(../public/Minimaliste/LowSize_Layer/7_Bridge.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#forest-8 {
  background-image: url(../public/Minimaliste/LowSize_Layer/8_Forest.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#forest-9 {
  background-image: url(../public/Minimaliste/LowSize_Layer/9_Forest.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}