@tailwind base;
@tailwind components;
@tailwind utilities;


.minimal-size {
  min-width: 320px;
  min-height: 500px;
}

/* Hero */

.animation {
  height: 100vh;
  outline: solid red 3px;
}

.animation_layer,
.name {
  /* height: 1000px; */
  height: 100vh;
}

.animation {
  display: block;
  position: relative;
  z-index: 10;
  overflow: hidden;
  outline: solid green 3px;
}

.animation_layer {
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}

.animation_layer.parallax {
  position: fixed;
}

.fluide-anim {
  transition: all 0.5s ease-in-out;
}

/* * { */
/* outline: solid red 1px; */
/* } */

.fluide-anim,
.no_pointer_layer {
  pointer-events: none;
}