@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hero */

.animation {
  height: 100vh;
}

.animation_layer, .name {
  height: 1000px;
}

.animation {
  display: block;
  position: relative;
  z-index: 10;
  overflow: hidden;

}

.animation_layer {
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}
.animation_layer.parallax {
  position: fixed;
}

.fluide-anim {
  transition: all 0.5s ease-in-out;
}