@tailwind base;
@tailwind components;
@tailwind utilities;


.p-minimal-size {
  min-width: 320px;
  min-height: 500px;
}

/* Hero */

.p-animation {
  /* height: 100vh; */
  min-width: 320px;
  min-height: 500px;
  display: block;
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.p-background-layer {
  height: 100dvh;
  width: 100%;
  min-height: 500px;
  min-width: 320px;
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  position: fixed;
}

.p-fluide-anim {
  transition: all 0.5s ease-in-out;
}

.p-no-pointer-layer {
  pointer-events: none;
}


.p-pointer-layer {
  pointer-events: auto;
}